.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #222;
  height: 80px;
  color: white;
}

.App-title {
  height: 80px;
  padding-left: 60px;
  float: left;
  display: inline-flex;
  align-content: center;
}

.App-button {
  display: inline-block;
  float: right;
  padding: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
